body {  
    font-family: 'Fredoka One', cursive!important;
    font-size: 18px!important;
    color: #fff!important;
    background: rgb(11, 3, 32)!important;
    min-height: 100vh;
    z-index: 0;
}

.container-fluid {
    margin-top: 60px;
    padding: 20px;
}

.row {
    justify-content: center;
}

button, input, button:disabled {
    vertical-align: middle;
    background-color: rgb(24, 6, 68);
    border: 0;
    color: #fff;
    font-size: 100px;
    font-family: 'Fredoka One', cursive;
}

#cell-1 {
    padding: 0px 2px 2px 0px;
    
}

#cell-2 {
    padding: 0px 2px 2px 2px;
}

#cell-3 {
    padding: 0px 0px 2px 2px;
}

#cell-4 {
    padding: 2px 2px 2px 0px;
}

#cell-5 {
    padding: 2px 2px 2px 2px;
}

#cell-6 {
    padding: 2px 0px 2px 2px;
}

#cell-7 {
    padding: 2px 2px 0px 0px;
}

#cell-8 {
    padding: 2px 2px 0px 2px;
}

#cell-9 {
    padding: 2px 0px 0px 2px;
}

#player-1 {
    display: inline;
    padding: 0 15px;
    color: red;
}

#player-2 {
    display: inline;
    padding: 0 15px;
    color: greenyellow;
}

#O {
    color: greenyellow;
}

#X {
    color: red;
}
.cell {
    width: 150px;
    height: 150px;
}

header {
    width: 100vw;
    height: 10%;
    text-align: center;
    padding-top: 40px;
}

.game {
    display: block;
}

#game-area {
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(250, 5, 127);
    margin: 0 50px;
    border-radius: 30px;
    background-color: black;
}

table {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.player-active {
    font-size: 40px;
}

.cell {
    width: 150px;
    height: 150px;
}

.game-td {
    background-color: rgb(250, 5, 127);
    padding: 0;
}


button, input, button:disabled {
    vertical-align: middle;
    background-color: black;
    border: 0;
    color: #fff;
    font-size: 100px;
    font-family: 'Fredoka One', cursive;
}

  #options {
    background-color: black;
    width: 100%;
    height: 600px;
    border: rgb(2, 158, 248) 4px solid;
    border-radius: 30px;
    margin-left: 20px;
  }

  #scores {
    background-color: black;
    width: 100%;
    height: 600px;
    border: rgb(2, 158, 248) 4px solid;
    border-radius: 30px;
    margin-right: 20px;
  }

  .player-seperator {
    height: 30px;
    border-right: 4px solid rgb(2, 158, 248);
  }

  .players {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  table {
    border-collapse: collapse;
  }

  .score-table {
    table-layout: fixed;
    width: 100%;
  }

  .score-results {
    table-layout: fixed;
    width: 100%;
    height: 83%;
  }

  #player-1-results {
    color: red;
    font-size: 200px;
  }

  #player-2-results {
    color: greenyellow;
    font-size: 200px;
  }

  .right-border {
    border-right: 4px solid  rgb(2, 158, 248);
  }

  tbody {
    height: 100%;
  }

  .score-table td {
    width: 50%;
    padding: 20px 0;
  }

  .border-bottom td {
    border-bottom: 4px solid rgb(2, 158, 248);
  }

  .player-1 {
    border-right: 4px solid rgb(2, 158, 248);
  }

  .results {
    height: 80%;
  }

  #rules {
    font-size: 22px;
    color: rgb(253, 236, 1);
    padding: 30px 0 20px 10px;
    width: 50%;
    text-align: center;
  }

  #settings {
    font-size: 22px;
    color: rgb(253, 236, 1);
    padding: 30px 10px 20px 0;
    width: 50%;
    text-align: center;
  }

  .reset {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
  }

  #win-message-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 37%;
    width: 500px;
    height: 300px;
  }

  .border-animation {
    background-color: rgba(0, 0, 0, 0.89);
    border: rgb(248, 150, 2) 4px solid;
    border-radius: 30px;
    animation-name: blinking;
    animation-duration: 0.5s;
    animation-iteration-count: 100;
  }
  
  @keyframes blinking {
  50% {
    border-color: rgba(248, 150, 2, 0.329);
  }
}

  #close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 25px;
    color: red;
    font-size: 30px;
  }

  #win-message {
    text-align: center;

    font-size: 45px;
    margin: 10px;
  }

  .win-text-animation {
    color: greenyellow;
    animation-name: flashing;
    animation-duration: 0.5s;
    animation-iteration-count: 100;
  }
  
  @keyframes flashing {
  50% {
    color: rgba(172, 255, 47, 0.37);
  }
}

  .hidden {
    visibility: hidden;
  }
  
