body {  
  font-family: 'Fredoka One', cursive!important;
  font-size: 18px!important;
  color: #fff!important;
  background-image: url('images/WallpaperDog-996039.jpg');
  background-size: cover;
  min-height: 100vh;
  max-width: 100vw;
  z-index: 0;
}

.container-fluid {
  margin-top: 10px;
  padding: 20px;
}

.row {
  justify-content: center;
  align-items: center;
}

button, input, button:disabled {
  vertical-align: middle;
  background-color: rgb(24, 6, 68);
  border: 0;
  color: #fff;
  font-size: 100px;
  font-family: 'Fredoka One', cursive;
}

#cell-1 {
  padding: 0px 2px 2px 0px;

}

#cell-2 {
  padding: 0px 2px 2px 2px;
}

#cell-3 {
  padding: 0px 0px 2px 2px;
}

#cell-4 {
  padding: 2px 2px 2px 0px;
}

#cell-5 {
  padding: 2px 2px 2px 2px;
}

#cell-6 {
  padding: 2px 0px 2px 2px;
}

#cell-7 {
  padding: 2px 2px 0px 0px;
}

#cell-8 {
  padding: 2px 2px 0px 2px;
}

#cell-9 {
  padding: 2px 0px 0px 2px;
}



#O {
  color: greenyellow;
}

#X {
  color: red;
}
.cell {
  width: 100px;
  height: 100px;
}

header {
  width: 100vw;
  height: 10%;
  text-align: center;
  padding-top: 20px;
}

.game {
  display: block;
}

#game-area {
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 4px solid rgb(250, 5, 127);
  margin: 0 50px;
  border-radius: 30px;
  background-color: black;
  height: 550px;
  width: 550px;
  padding: 45px;

}

table {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.player-active {
  font-size: 40px;
}

.cell {
  width: 150px;
  height: 150px;
  max-width: 100%;
  max-height: 100%;
}

.game-td {
  background-color: rgb(250, 5, 127);
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}


button, input, button:disabled {
  vertical-align: middle;
  background-color: black;
  border: 0;
  color: #fff;
  font-size: 100px;
  font-family: 'Fredoka One', cursive;
}

#options {
  background-color: black;
  width: 100%;
  height: 450px;
  border: rgb(2, 158, 248) 4px solid;
  border-radius: 30px;
  margin-left: 20px;
}


/* Start of scoreboard styling */
#scores {
  background-color: black;
  width: 100%;
  height: 100%;
  border: rgb(2, 158, 248) 4px solid;
  border-radius: 30px;
  margin-right: 20px;
}

.score-table {
  table-layout: fixed;
  width: 100%;
  height: 100px;
}

tr .border-bottom {
  border-bottom: 4px solid rgb(2, 158, 248);
  min-width: 100%;
  height: 50px;
}

#player-1 {
  border-right: 4px solid rgb(2, 158, 248);
  color: red;
}

#player-2 {
  color: greenyellow;
}

.results {
  border-top: 4px solid rgb(2, 158, 248);
  height: 100%;
}

#player-1-results {
  border-right: 4px solid rgb(2, 158, 248);
  color: red;
  font-size: 200px;
}

#player-2-results {
  color: greenyellow;
  font-size: 200px;
}
/* End of scoreboard styling */

#settings {
  font-size: 22px;
  color: rgb(253, 236, 1);
  padding: 30px 10px 20px 0;
  width: 100%;
  text-align: center;
}

.reset {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

/* Start win and draw message box styling */
#message-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(10, 10, 10, 0.562);
}

#win-message-box {
  display: block;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
}

.border-animation {
  background-color: rgba(0, 0, 0, 0.89);
  border: rgb(248, 150, 2) 4px solid;
  border-radius: 30px;
  animation-name: blinking;
  animation-duration: 0.5s;
  animation-iteration-count: 100;
}

@keyframes blinking {
  50% {
  border-color: rgba(248, 150, 2, 0.329);
  }
}

#close-button {
  position: relative;
  float: right;
  margin: 10px 25px;
  color: red;
  font-size: 30px;
}

.message {
  width: 100%;
  height: 100%;
}

#win-message {
  align-items: center;
  text-align: center;
  font-size: 45px;
  margin: auto;
  padding: 50px 0;
  width: 300px;
}

.win-text-animation {
  color: greenyellow;
  animation-name: flashing;
  animation-duration: 0.5s;
  animation-iteration-count: 100;
}
  
@keyframes flashing {
  50% {
    color: rgba(172, 255, 47, 0.37);
  }
}


.hidden {
  visibility: hidden;
  position: absolute;
}
 
/* .form-check {
  justify-content: left;
  align-items: center;
}

.form-check-input {
  float: right;
  margin-top: 0px!important;
}

.form-check-label {
  float: left;
  margin-right: 90px;
}

.form-switch.form-switch-lg {
  margin-bottom: 1.5rem; /* JUST FOR STYLING PURPOSE */
/* }

.form-switch.form-switch-lg .form-check-input {
  height: 2rem;
  width: calc(3rem + 0.75rem);
  border-radius: 4rem;
}

.form-check, .form-switch, .form-switch-lg {
  margin-bottom: 0px!important;
} */ 